############################
# Gradle
############################
.gradle/
build/
**/build/
!**/src/**/build/

############################
# Local configuration
############################
local.properties
gradle.properties

############################
# IntelliJ / Android Studio
############################
.idea/
*.iml
*.ipr
*.iws
out/

############################
# Kotlin
############################
.kotlin/

############################
# KMP / Native
############################
**/.gradle/
**/.kotlin/
**/.konan/
konan/

############################
# Android
############################
*.apk
*.aab
*.keystore

############################
# iOS (Xcode)
############################
# Xcode workspace & user data
*.xcworkspace
*.xcuserdata/
*.xcuserstate
DerivedData/

# CocoaPods
Pods/
Podfile.lock

# xcframeworks / build
**/*.xcframework
**/iosApp/build/

############################
# Compose Multiplatform
############################
composeApp/build/