name: KMP Development CI

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        run: ./gradlew :composeApp:assembleDebug

      - name: Upload Android APK
        uses: actions/upload-artifact@v4
        with:
          name: Android-Debug-APK
          path: composeApp/build/outputs/apk/debug/*.apk

      - name: Build iOS Framework
        run: ./gradlew :composeApp:linkDebugFrameworkIosSimulatorArm64

      - name: Upload iOS Framework
        uses: actions/upload-artifact@v4
        with:
          name: iOS-Framework
          path: "composeApp/build/bin/iosSimulatorArm64/debugFramework/*.framework"

      - name: Run Unit Tests
        run: ./gradlew test